{% extends 'admin/base.html.twig' %}

{% block title %}Médicaments{% endblock %}

{% block admin_content %}
<h1 class="h3 mb-4">Médicaments</h1>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>DCI</th>
            <th>Forme</th>
            <th>Dosage</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for medicament in medicaments %}
        <tr>
            <td>{{ medicament.id }}</td>
            <td>{{ medicament.nom }}</td>
            <td>{{ medicament.dci }}</td>
            <td>{{ medicament.forme }}</td>
            <td>{{ medicament.dosage }}</td>
            <td>
                <a href="{{ path('app_admin_medicament_show', {'id': medicament.id}) }}" class="btn btn-outline-primary">Voir</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
